<html>
  <head>
    <!-- <link rel="stylesheet" href="temp.css" /> -->
    <script src="/js/bundle.js" defer></script>
  </head>
  <body>
    <h1>Availble Games</h1>
    <button id="test-button">Click Me!</Button>
  </body>
</html>
