<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <style>
    a {
      color: blue;
    }
    a:visited {
      color: blue;
    }
    a:hover {
      color: blue;
    }
    a:active {
      color: blue;
    }
  </style>
</head>
<body>
  <h1>Welcome</h1>
  <a href="/auth/login">Login</a>
  <a href="/auth/signup">Signup</a>
</body>
</html>