# Node / build
node_modules/
dist/
logs/
src/backend/public/js/

# Environment variables
.env

# macOS junk files
.DS_Store
**/.DS_Store

# Editor / OS junk
.vscode/
Thumbs.db

# Maps / caches
*.map
.cache/
