<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log In</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <style>
            a {
                color: blue;
            }
            a:visited {
                color: blue;
            }
            a:hover {
                color: blue;
            }
            a:active {
                color: blue;
            }
        </style>
    </head>
    <body>
        <form method="POST" action="/auth/login">
            <% if (local.error) { %>
                <p><%= local.error %></p>
            <% } %>

            <label for="username">Username:</label>
            <input type="text" name="username" />

            <label for="password">Password:</label>
            <input type="password" name="password" />

            <button type="submit">Log In</button>

            <a href="/auth/signup">Create an account</a>
        </form>
    </body>
</html>